* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lato-v24-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/lato-v24-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* lato-900 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/lato-v24-latin-900.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Lato';
  font-style: normal;
  font-size: 16px;
  line-height: 1.2;
  font-weight: normal;
  color: #102746;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
}

.wrapper-full {
  max-width: 1262px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-title {
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  padding-bottom: 10px;
  position: relative;
}

.section-title::after {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 253px;
  height: 3px;
  background-color: #006DFE;
}

/*Header styles start*/

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: 0.2s linear;
  padding-bottom: 20px;
  z-index: 999;
}

.header_active {
  background-color: #0E1D28;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 56px;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.header-item {
  margin-right: 82px;
}

.header-item:last-child {
  margin-right: 0;
}

.header-link {
  text-decoration: none;
  list-style-type: none;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  list-style-type: none;
}

.header-link:hover,
.header-link:focus,
.header-link:active {
  opacity: 0.75;
}

.header__burger {
  display: none;
  width: 40px;
  height: 28px;
  position: relative;
}

.burger__line {

  width: 100%;
  height: 2px;
  background-color: white;
  position: absolute;
  left: 0;
}

.burger__line_first {
  top: 0;
}

.burger__line_second {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_third {
  bottom: 0;
}

/* Header styles end */


/* Intro styles start */

.intro {
  min-height: 100vh;
  background: url(../img/svg/intro-bg-min.jpg) no-repeat center;
  background-size: cover;
  padding-top: 263px;
  padding-bottom: 343px;
}

.intro-title {
  max-width: 619px;
  font-size: 50px;
  font-weight: 500;
  color: #FFF;
  margin-bottom: 22px;
  line-height: 60px;
}

.intro-text {
  max-width: 546px;
  color: #FFF;
  line-height: 24px;
  margin-bottom: 59px;
}

.search-form-info {
  display: flex;
  flex-wrap: wrap;
}

.search-form-field {
  background-color: transparent;
  background: url(../img/svg/Oval-min.png) no-repeat left 6px;
  background-size: 20px;
  border: none;
  border-bottom: 2px solid #BFC0C5;
  width: 297px;
  margin-right: 60px;
  padding-left: 43px;
  padding-bottom: 22px;
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.search-form-field::placeholder {
  font-size: 18px;
  font-weight: 500;
  color: white;
}

.search-form-submit {
  padding: 15px 39px;
  border: none;
  background-color: #1B7DFF;
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  font-family: Lato;
}

.search-form-submit:active,
.search-form-submit:hover,
.search-form-submit:focus {
  background-color: #1c6bd3;
}

/* Intro styles end */

/* Benefits start*/

.benefits {
  padding-bottom: 112px;

}

.benefits__wrap {
  max-width: 1262px;
  background-color: white;
  margin: 0 auto;
  box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
  position: relative;

}

.benefits__title {
  width: 100%;
  color: #102746;
  font-size: 35px;
  font-weight: 500;
  line-height: 42px;
  padding: 93px 100px 88px 100px;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  background-color: #FFF;
}

.benefits__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 55px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 112px;
}

.benefits__card {
  grid-column: span 1;
}

.benefits__card-pic {
  max-width: 66px;
  margin-bottom: 37px;
}

.benefits__card-thumb {
  display: block;
}

.benefits__card-title {
  margin-bottom: 26px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.benefits__card-description {
  margin-bottom: 39px;
  color: #000;
  font-weight: 400;
  line-height: 24px;
  font-size: 16px;
}

.benefits__card-link-text {
  display: inline-block;
  padding-right: 59px;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  color: #006DFE;
  background: url(../img/svg/Shape-min.png) no-repeat 95% center;
  transition: .2s all;
}

.benefits__card-link-text:hover,
.benefits__card-link-text:focus {
  background: url(../img/svg/Shape-min.png) no-repeat right center;
}

/*Benefits end*/

/* Places start*/

.places {
  margin-bottom: 66px;
}

.places__caption {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 36px;
}

.places__title {
  color: #102746;
  font-size: 35px;
  font-weight: 500;
}

.places__title-link {
  color: #006DFE;
  padding-right: 59px;
  background: url(../img/svg/Shape-min.png) right center no-repeat;
}

.places__title-link:hover {
  opacity: 80%;
}

.places__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 10px;
  row-gap: 10px;
  margin-bottom: 10px;
}

.places__card_size_lg {
  grid-column: span 3;
}

.places__card {
  position: relative;
  overflow: hidden;
}

.places__card-pic-size-lg {
  height: 354px;
  width: 100%;
  object-fit: cover;
  transition: .15s;
}

.places__card::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(21, 24, 36, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.places__card:hover .places__card-pic {
  transform: scale(1.05);
}

.places__card-title {
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 3;
  color: #FFF;
  font-size: 50px;
  font-weight: 700;
}

.places__card_size_sm {
  grid-column: span 2;
}

.places__card-pic-size-sm {
  height: 283px;
  object-fit: cover;
  width: 100%;
  transition: .15s;
}

.places__card-link {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
}

/* Places end*/

/* Tours start */

.tours {
  margin-bottom: 139px;
}

.tours__tour {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 108px;
  align-items: center;
  margin-bottom: 77px;
}

.tour__info {
  padding-left: 47px;
}

.tour__title {
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 85px;
}

.tour__desc {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 58px;
}

.tour__more {
  color: #006DFE;
  font-size: 16px;
  line-height: 24px;
  background: url(../img/svg/Shape-min.png) 95% center no-repeat;
  padding-right: 59px;
}

.tour__more:hover {
  background: url(../img/svg/Shape-min.png) right center no-repeat;
  opacity: 80%;
}

/* Tours end */

/* Top start */

.top {
  margin-bottom: 86px;
}

.top__title {
  font-size: 35px;
  font-weight: 500;
  position: relative;
  margin-bottom: 64px;
}

.top__title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #006DFE;
  width: 253px;
  height: 3px;
}

.top__cards {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 57px;
  row-gap: 57px;
}

.top__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 58px;
  grid-column: span 2;
}

.top__card-pic-img {
  width: 100%;
}

.top__card-pic {
  position: relative;
  margin-bottom: 45px;
  z-index: 1;
}

.top__card-pic:hover {
  transform: scale(1.05);
  overflow: hidden;
}

.top__card-stats {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  padding: 16px 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(21, 24, 36, 0.60);
}

.top__card-title {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin: 0 auto 0 0;
}

.top__card-likes {
  padding-right: 20px;
  margin-right: 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
  background: url(../img/svg/like-min.jpg) right no-repeat;
}

.top__card-com {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFF;
  padding-right: 23px;
  background: url(../img/svg/com-min.jpg) right no-repeat;
}

.top__desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 31px;
}

.top__more {
  width: 118px;
  color: #FFF;
  font-size: 16px;
  font-weight: 400;
  padding: 12px 19px;
  background-color: #006DFE;
  margin: auto 0 0 0;
}

.top__more:hover {
  background-color: #1d63be;
}

.top__more:active {
  background-color: #255594;
}

.top__card-pic-link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}

/* Top end */


/* video start */

.video {
  width: 100%;
}

.video__wrapper {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.video__item {
  padding-top: 56.25%;

}

.video__file {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* video end */

.footer {
  background-color: #0E1D28
}

.footer__item {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 119px 0;
}

.footer__logo {
  width: 50%;
}

.footer__nav {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.footer__menu-title {
  color: #FFF;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.footer__menu-link {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
}

.footer__menu-link:hover,
.footer__menu-link:active {
  color: #BFC0C5;
}

/* footer end */

/* media start */





@media screen and (max-width: 960px) {
  .benefits {
    margin-bottom: 75px;
  }

  .benefits__card {
    margin-bottom: 60px;
    ;
  }

  .search-form-field {
    margin-bottom: 25px;
  }

  .benefits__cards {
    padding: 0 15px;
    column-gap: 35px;
  }

  .benefits__title {
    padding: 55px 15px;
  }

  .places__card_size_lg {
    grid-column: span 6;
    column-gap: 20px;
  }

  .places__card_size_sm {
    grid-column: span 6;
  }

  .tours__tour {
    column-gap: 35px;
  }

  .tour__info {
    padding-left: 0;
  }

  .tour__title,
  .tour__desc {
    margin-bottom: 15px;
  }

  .top__cards {
    column-gap: 25px;
    row-gap: 55px;
  }

  .top__card {
    grid-column: span 3;
  }

  .top__card-pic {
    margin-bottom: 25px;
  }

  .footer {
    padding: 60px 0;
  }

}


@media screen and (max-width: 767px) {
  .section-title {
    margin-bottom: 25px;
  }

  .section-title::after {
    width: 78px;
    ;
  }

  .header__burger {
    display: block;
  }

  .header__nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 10;
    padding: 75px;
    transform: translateX(100%);
    transition: 0.2s linear;
  }

  .header__nav_active {
    transform: translateX(0);
  }

  .header-item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .header-item:last-child {
    margin-bottom: 0;
  }

  .header-link {
    font-size: 42px;
    line-height: 48px;
  }

  .header__nav-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    z-index: 11;
  }

  .header__nav-close-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 50%;
  }

  .header__nav-close-line:first-child {
    transform: translateY(-50%) rotate(45deg);
  }

  .header__nav-close-line:last-child {
    transform: translateY(-50%) rotate(-45deg);
  }

  .header-wrapper {
    margin-top: 38px;
  }

  .search-form-field {
    width: 100%;
    margin-right: 0;
    padding-bottom: 12px;
    background: url(../img/svg/Oval.png) no-repeat left 2px;
  }

  .search-form-submit {
    width: 100%;
  }

  .search-form-field::placeholder {
    font-size: 16px;
  }

  .intro {
    padding-top: 125px;
    padding-bottom: 250px;
  }

  .intro-title {
    font-size: 32px;
    line-height: 48px;
  }

  .intro-text {
    font-size: 14px;
  }

  .benefits {
    padding-bottom: 36px;
    margin-bottom: 30px;
  }

  .benefits__card {
    grid-column: span 3;
    margin-bottom: 40px;
  }

  .benefits__card-pic {
    margin-bottom: 20px;
  }

  .benefits__card-title {
    margin-bottom: 12px;
  }

  .benefits__card-description {
    margin-bottom: 20px;
  }

  .places {
    margin-bottom: 76px;
  }

  .places__card-pic-size-lg,
  .places__card-pic-size-sm {
    height: 230px;
  }

  .places__title-link{
    margin-bottom: 25px;
  }

  .places__caption{
    margin-bottom: 0;
  }

  .tours {
    margin-bottom: 76px;
  }

  .tour__pic,
  .tour__info {
    grid-column: span 2;
  }

  .tour__pic {
    margin-bottom: 12px;
  }

  .tour__pic_mob-first {
    grid-row-start: -1;
  }

  .tours__tour {
    margin-bottom: 50px;
  }

  .top{
    margin-bottom: 76px;
  }

  .top__cards {
    column-gap: 15px;
    grid-row-gap: 35px;
  }

  .top__card {
    grid-column: span 6;
  }

  .top__card-pic {
    margin-bottom: 15px;
  }

  .top__card-desc{
    margin-bottom: 15px;
  }

  .footer__logo{
    width: 100%;
    margin-bottom: 13px;
  }

  .footer__nav{
    width: 100%;
  }

  .footer__menu{
    width: 50%;
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 500px) {
  .header__nav {
    padding: 75px 30px;
  }

}

/* media end */